global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'api-gateway'
    static_configs:
      - targets: ['api-gateway:8000']
        labels:
          service: 'api-gateway'
          environment: 'docker'
          instance: 'api-gateway-1'